fastapi
pydantic
python-dotenv
elasticsearch
crewai
ibm-watsonx-ai
uvicorn
streamlit
langchain
llama-index
tqdm
ibm-watson-machine-learning
uvicorn
langchain-community
requests
python-multipart
# ibm-cos-sdk
python-magic
standard-imghdr
